.container{
    display: block;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    padding: 0;
    margin: 0;
    background-color: black;
    opacity: 80%;
    background-size: cover;
    backdrop-filter: none;
    overflow: hidden;
    position: center;
}

.h2{
    padding: 0 0 50px 0;
    font-size: 24px;
}