.container{
    background-color: rgba(181, 229, 246, 0.29);
    color: white;
    border-radius: 20px;
    padding: 10px;
    
}

.container h3{
    text-align: center;
    margin-bottom: 8px;
}

.datos{
    width: 100%;
    display:flex;
    justify-content:space-evenly; 
    align-items: center;
    box-sizing: border-box;    
}


