.container{
    text-align: center;
    padding-top: 10px;  
    margin-bottom: 20px;  
}

.paginado{
    display: inline-block;
    padding: 0;
    margin: 0;
    background-color:rgba(0, 0, 0, 0.121);
}

.paginado li{
    display: inline;
}

.paginado li a{
    color: white;
    float: left;
    padding: 8px 10px;  
    text-decoration:none;  
    transition: background-color .3s;   
    border: 1px solid rgba(255, 255, 255, 0.303);
}

.paginado li a .active{
    background-color:fuchsia;
    color: white;
}

.paginado li a:hover:not(.active){
    background-color: #93befa;
}

@media screen and (max-width: 820px)  {
    .paginado{
        margin-left: 20px;
        margin-right: 20px;
    }

}

@media screen and (max-width: 430px)  {

    .paginado{}
}